.container {
    height: 100%;
    width: 100%;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url('./../../../assets/river.jpg');
    background-size: cover;
}

.image {
    max-height: 120px;
    max-width: 120px;
}

.title-text {
    text-align: center;
    color: white;
    font-size: 70px;
}

.body {
    margin-left: 5px;
}
