<div class="container" fxLayout="column" fxLayoutAlign="start">
    <div
        fxFlex="0 0 50%"
        class="header"
        fxLayout="column"
        fxLayoutAlign="center center"
    >
        <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <span fxFlex="0 0 0%" class="title-text">About</span>
        </div>
    </div>
    <h2 class="body" fxFlex="1 1 8%">Who is Michael?</h2>
    <div
        class="body"
        fxFlex="1 1 auto"
        fxLayout="row"
        fxLayoutGap="25px"
        fxLayoutAlign="start center"
    >
        <div fxFlex="70%" fxLayout="column">
            <div fxflex>
                My name is Michael Mason, and I am a
                <a [routerLink]="['/skills-and-achievements']"
                    >software developer</a
                >
                based in Raleigh, NC. I have 3 years of experience consulting
                for the Federal Government. I am passionate about modernizing IT
                systems to increase security, improve usability, and save money.
                I have delivered quality products throughout the Department of
                Homeland Security for different agencies.
                <br /><br />
                I have an academic background in Industrial and Systems
                Engineering in which I hold both a Bachelor's and Master's
                degree from Virginia Tech. I also hold the AWS Solutions
                Architect Associates certification along with a Six Sigma
                Greenbelt.
            </div>
        </div>
        <img
            fxFlex
            class="image"
            src="./../../../assets/dhs.png"
            height="120px"
            width="120px"
        />
        <img
            fxFlex
            class="image"
            src="./../../../assets/virginia-tech-hokies-logo-png-transparent.png"
            height="120px"
            width="120px"
        />
    </div>
    <div
        class="body"
        fxFlex="1 1 auto"
        fxLayout="row"
        fxLayoutGap="25px"
        fxLayoutAlign="start center"
    >
        <div fxFlex="70%" fxLayout="column">
            <div fxflex>
                In my free time you can often find me listening to an audiobook
                or podcast while out for a run or exercising. I am partial to
                science fiction and dystopian novels, but I also enjoy listening
                to financial and technology podcasts like Motely Fool Industry
                Focus and the Offical AWS Podcast. When I am too tired (or
                unmotivated) to exercise, I turn to the trusty TV and watch
                sports or Netflixs with my wife.
            </div>
        </div>
        <img
            fxFlex
            class="square-image"
            src="./../../../assets/greece.JPG"
            height="90px"
            width="120px"
        />
    </div>
</div>
