<div class="container" fxLayout="column" fxLayoutAlign="start">
    <div
        fxFlex="0 0 50%"
        class="header"
        fxLayout="column"
        fxLayoutAlign="center center"
    >
        <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <span fxFlex="0 0 0%" class="title-text">About</span>
        </div>
    </div>
    <h2 class="body" fxFlex="1 1 8%">Who is Michael?</h2>
    <div
        class="body"
        fxFlex="1 1 auto"
        fxLayout="row"
        fxLayoutGap="25px"
        fxLayoutAlign="start center"
    >
        <div fxFlex="70%" fxLayout="column">
            <div fxflex>
                My name is Michael Mason, and I am a software developer based in
                Raleigh, NC. I have 3 years of experience working on federal
                projects, helping the government modernize their IT systems to
                increase security, improve usability, and save money throughout
                the Department of Homeland Security.
            </div>
        </div>
        <img
            fxFlex
            class="image"
            src="./../../../assets/dhs.png"
            height="120px"
            width="120px"
        />
    </div>

    <div
        class="body"
        fxFlex="1 1 auto"
        fxLayout="row"
        fxLayoutGap="25px"
        fxLayoutAlign="start center"
    >
        <div fxFlex="70%" fxLayout="column">
            <div fxflex>
                My name is Michael Mason, and I am a software developer based in
                Raleigh, NC. I have 3 years of experience working on federal
                projects, helping the government modernize their IT systems to
                increase security, improve usability, and save money throughout
                the Department of Homeland Security.
            </div>
        </div>
        <img
            fxFlex
            class="image"
            src="./../../../assets/dhs.png"
            height="120px"
            width="120px"
        />
    </div>

    <div
        class="body"
        fxFlex="1 1 auto"
        fxLayout="row"
        fxLayoutGap="25px"
        fxLayoutAlign="start center"
    >
        <div fxFlex="70%" fxLayout="column">
            <div fxflex>
                My name is Michael Mason, and I am a software developer based in
                Raleigh, NC. I have 3 years of experience working on federal
                projects, helping the government modernize their IT systems to
                increase security, improve usability, and save money throughout
                the Department of Homeland Security.
            </div>
        </div>
        <img
            fxFlex
            class="image"
            src="./../../../assets/dhs.png"
            height="120px"
            width="120px"
        />
    </div>
</div>
