<div class="container">
    <div class="header" fxLayout="column" fxLayoutAlign="center center">
        <div fxFlex fxLayout="row" fxLayoutAlign="center end">
            <span fxFlex="0 0 0%" class="title-text">Hello!</span>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="end start">
            <span fxFlex="25%"></span>
            <span fxFlex="50%" class="body-text">
                Welcome to my website! My name is Michael mason and I am a software developer based
                out of Raleigh, NC. To learn more about me, click
                <a [routerLink]="['/about-me']">here</a> or use the navigation
                menu on the side of the screen.
            </span>
            <span fxFlex="25%"></span>
        </div>
    </div>
</div>
