<div class="container" fxLayout="column" fxLayoutAlign="start">
    <div
        fxFlex="0 0 50%"
        class="header"
        fxLayout="column"
        fxLayoutAlign="center center"
    >
        <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <span fxFlex="0 0 0%" class="title-text">More Information</span>
        </div>
    </div>
    <div fxFlex="5%">&nbsp;</div>
    <div style="text-align: center">
        Let's chat! If you want to hear more about my skills, my personal
        projects, or anything else, just send me an email or check out some of
        my personal pages.
    </div>
    <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="100%" fxLayout="row" fxLayoutAlign="space-around start">
            <div fxFlex="0 0 0" fxLayout="column" fxLayoutAlign="center center">
                <h3 fxFlex>Email</h3>
                <a fxFlex href="mailto:michaelwmason95@gmail.com">
                    <img
                        class="favicon"
                        src="./../../../assets/email.png"
                        height="100px "
                        width="100px "
                /></a>
            </div>
            <div fxFlex="0 0 0" fxLayout="column" fxLayoutAlign="center center">
                <h3 fxFlex>Resume</h3>
                <a
                    fxFlex
                    href="./../../../assets/Michael_Mason_Resume.pdf"
                    target="_blank"
                >
                    <img
                        class="favicon"
                        src="./../../../assets/resume.png"
                        height="100px "
                        width="100px "
                    />
                </a>
            </div>
            <div fxFlex="0 0 0" fxLayout="column" fxLayoutAlign="center center">
                <h3 fxFlex>Github</h3>
                <a
                    fxFlex
                    href="https://github.com/michaelwmason"
                    target="_blank"
                >
                    <img
                        class="favicon"
                        src="./../../../assets/github.png"
                        height="100px "
                        width="100px "
                    />
                </a>
            </div>
            <div fxFlex="0 0 0" fxLayout="column" fxLayoutAlign="center center">
                <h3 fxFlex>Linkedin</h3>
                <a
                    fxFlex
                    href="https://www.linkedin.com/in/michael-mason-59713a90/"
                    target="_blank"
                >
                    <img
                        class="favicon"
                        src="./../../../assets/linkedin.png"
                        height="100px "
                        width="100px "
                    />
                </a>
            </div>
        </div>
    </div>
</div>
