<div class="container" fxLayout="column" fxLayoutAlign="start">
    <div
        fxFlex="0 0 50%"
        class="header"
        fxLayout="column"
        fxLayoutAlign="center center"
    >
        <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <span fxFlex="0 0 0%" class="title-text"
                >Skills and Achievements</span
            >
        </div>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="space-around start">
        <img
            fxFlex="0 0 0"
            class="favicon"
            src="./../../../assets/angular.png"
            height="100px "
            width="100px "
        />
        <img
            fxFlex="0 0 0"
            class="favicon"
            src="./../../../assets/java.png"
            height="100px "
            width="100px "
        />
        <img
            fxFlex="0 0 0"
            class="favicon"
            src="./../../../assets/postgresql.png"
            height="100px "
            width="100px "
        />

        <img
            fxFlex="0 0 0"
            class="favicon"
            src="./../../../assets/aws.png"
            height="100px "
            width="100px "
        />
    </div>
</div>

When choosing a Javascript framework, I select the tried and true Angular. I
like that its a complete, batteries included framework that has (good) opinions
on how to structure an application. Anyone with Angular experience can onboard
quickly and efficiently, contributing almost immediately.
