<div class="container" fxLayout="column" fxLayoutAlign="start">
    <div
        fxFlex="0 0 50%"
        class="header"
        fxLayout="column"
        fxLayoutAlign="center center"
    >
        <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <span fxFlex="0 0 0%" class="title-text"
                >Skills and Achievements</span
            >
        </div>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="space-around start">
        <img
            fxFlex="0 0 0"
            class="favicon"
            src="./../../../assets/angular.png"
            height="100px "
            width="100px "
        />
        <img
            fxFlex="0 0 0"
            class="favicon"
            src="./../../../assets/java.png"
            height="100px "
            width="100px "
        />
        <img
            fxFlex="0 0 0"
            class="favicon"
            src="./../../../assets/postgresql.png"
            height="100px "
            width="100px "
        />

        <img
            fxFlex="0 0 0"
            class="favicon"
            src="./../../../assets/aws.png"
            height="100px "
            width="100px "
        />
    </div>
    <div fxFlex fxLayoutAlign="center start" class="body">
        <div fxFlex="80%">
            I pride myself on being a full stack developer. I enjoy working with
            Angular and Java to build cloud native web apps, but I thrive when
            acting as a DevOps Engineer and building cloud infrastructure. On
            any given day I can be found building a new user interface,
            implementing new API endpoints with Springboot, or using Terraform
            to build new AWS infrastructure. With a brackground in Industrial
            Engineering, I consider myself a very well rounded engineer with
            numerous accoldades and achievements.
        </div>
    </div>
    <div fxFlex="95%" fxLayout="column" fxLayoutAlign="center center">
        <mat-divider fxFlex></mat-divider>
    </div>
    <div
        class="body"
        fxFlex="1 1 auto"
        fxLayout="row"
        fxLayoutGap="25px"
        fxLayoutAlign="start center"
    >
        <div fxFlex="0 0 70%" fxLayout="column">
            <h2 fxFlex style="text-align: left">Simulation World Champions</h2>
            <div fxFlex style="text-align: left">
                In the Fall of 2016 I was part of a team that won a global
                simulation competition. Using Simio, an industry leading
                simulation software, my team created a model of a global supply
                for a manufacturer and recommened optimal strategies to improve
                costs, reduce lead times, and improve profitability. We created
                a detailed report and video presentation outlining our
                hypothesis, methodology, and results, garnering high praise and
                a first place victory.
            </div>
        </div>
        <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center center">
            <img
                fxFlex="0 0 calc(190px)"
                src="./../../../assets/simulation-group.jpg"
                height="120px "
                width="190px "
                style="border: 2px solid black"
            />
        </div>
    </div>
    <div
        class="body"
        fxFlex="1 1 auto"
        fxLayout="row"
        fxLayoutGap="25px"
        fxLayoutAlign="start center"
    >
        <div fxFlex="0 0 70%" fxLayout="column">
            <h2 fxFlex style="text-align: left">
                AWS Solutions Architect Associate
            </h2>
            <div fxFlex style="text-align: left">
                Combining my practical experience with my theoretical knowledge,
                I recently obtained the Solutions Architect Associates
                certifiation from AWS. This is one of my prouder achievements. I
                am completely self taught developer with no formal education in
                programming or cloud computing. With no background in the field,
                I was able to become not only a successful developer, but a
                certified cloud architect.
            </div>
        </div>
        <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center center">
            <img
                fxFlex="0 0 calc(190px)"
                src="./../../../assets/aws-sa.png"
                height="160px "
                width="100px "
            />
        </div>
    </div>
    <div
        class="body"
        fxFlex="1 1 auto"
        fxLayout="row"
        fxLayoutGap="25px"
        fxLayoutAlign="start center"
    >
        <div fxFlex="0 0 70%" fxLayout="column">
            <h2 fxFlex style="text-align: left">This Website</h2>
            <div fxFlex style="text-align: left">
                This website was created as something fun to do, but it has
                become an opportunity to become much more. This website is built
                using fully serverless AWS infrastructure, but I am also going
                to rebuild it with a traditional architecutre. Once complete I
                plan on releasing a blog comparing and contrasting the
                advantages of using serverless vs a traditional architecture.
                Stay tuned for that!
            </div>
        </div>
        <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center center">
            <img
                fxFlex="0 0 calc(130px)"
                src="./../../../assets/red-rock-selfie.JPG"
                height="130px "
                width="100px "
                style="border: 2px solid black"
            />
        </div>
    </div>
    <div fxFlex>&nbsp;</div>
</div>

<!-- When choosing a Javascript framework, I select the tried and true Angular. I -->
<!-- like that its a complete, batteries included framework that has (good) opinions -->
<!-- on how to structure an application. Anyone with Angular experience can onboard -->
<!-- quickly and efficiently, contributing almost immediately. -->
