<div fxLayout="column" fxLayoutAlign="start center" class="side-nav">
    <img fxFlex="0 0 0" class="favicon" src="favicon.ico" />
    <p fxFlex="0 0 0" class="header">Michael Mason</p>
    <mat-divider fxFlex="0 0 0"></mat-divider>
    <div
        fxFlex
        fxLayout="row"
        fxLayoutAlign="start center"
        class="option"
        [routerLink]="['/home']"
        [ngClass]="(isSelected('home') | async) ? 'selected' : ''"
    >
        <mat-icon fxFlex="0 0 0" aria-hidden="false">home</mat-icon>
        <p fxFlex="0 0 0">Home</p>
    </div>
    <div
        fxFlex
        fxLayout="row"
        fxLayoutAlign="start center"
        class="option"
        [routerLink]="['/about-me']"
        [ngClass]="(isSelected('about-me') | async) ? 'selected' : ''"
    >
        <mat-icon fxFlex="0 0 0" aria-hidden="false">person</mat-icon>
        <p fxFlex="0 0 0">About</p>
    </div>
    <div
        fxFlex
        fxLayout="row"
        fxLayoutAlign="start center"
        class="option"
        [routerLink]="['/skills-and-achievements']"
        [ngClass]="
            (isSelected('skills-and-achievements') | async) ? 'selected' : ''
        "
    >
        <mat-icon fxFlex="0 0 0" aria-hidden="false">code</mat-icon>
        <p fxFlex="0 0 0">Skills and Achievements</p>
    </div>

    <div
        fxFlex
        fxLayout="row"
        fxLayoutAlign="start center"
        class="option"
        [routerLink]="['/personal-projects']"
        [ngClass]="(isSelected('personal-projects') | async) ? 'selected' : ''"
    >
        <mat-icon fxFlex="0 0 0" aria-hidden="false">laptop</mat-icon>
        <p fxFlex="0 0 0">Personal Projects</p>
    </div>
    <div
        fxFlex
        fxLayout="row"
        fxLayoutAlign="start center"
        class="option"
        [routerLink]="['/user/bob']"
    >
        <mat-icon fxFlex="0 0 0" aria-hidden="false">mail</mat-icon>
        <p fxFlex="0 0 0">Contact Me</p>
    </div>
</div>
