.header {
    font-size: 20px;
}

.favicon {
    margin-top: 5px;
    max-width: 150px;
    height: auto;
}

.side-nav {
    outline: 2px;
    outline-style: solid;
    width: fit-content;
    max-width: 150px;
    height: 100%;
    background-color: rgba(63, 81, 181, 0.781);
    position: fixed;
    // z-index: 1;
    overflow-x: hidden;
}

mat-divider {
    width: 100%;
}

.option {
    font-size: 16px;
    width: 100%;
    flex-wrap: wrap;
}

.option:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

mat-icon {
    margin-right: 5px;
    margin-left: 5px;
}

.selected {
    background-color: rgba(63, 81, 181, 0.904);
}
