// .mountains {
//   background-image: url("./../assets/smokey_mountains.jpg");
//   height: 900px;
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   width: 100%;
// }

.container {
    height: 100%;
    background-color: rgba(63, 81, 181, 0.281);
}

.header {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.favicon {
    margin-top: 5px;
    max-height: 150px;
    max-width: 150px;
}

.side-nav {
    outline: 2px;
    outline-style: solid;
    // outline-color: red;
    width: 100%;
    height: 95%;
    margin-left: 20px;
    margin-top: 0.5%;
    background-color: rgba(63, 81, 181, 0.781);
}

mat-divider {
    width: 100%;
}

.option {
    font-size: 16px;
    width: 100%;
    flex-wrap: wrap;
}

.option:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

mat-icon {
    margin-right: 5px;
    margin-left: 5px;
}
